[submodule "themes/hugo-dpsg"]
	path = themes/hugo-dpsg
	url = https://github.com/pfadfinder-konstanz/hugo-dpsg
[submodule "loveit"]
	path = themes/LoveIt
	url = https://github.com/cupid5trick/HugoLoveIt.git
[submodule "obsidian_quartz"]
	path = obsidian_quartz
	url = https://github.com/cupid5trick/obsidian_quartz.git
	branch = v4
